<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <title>Backbone Tutorial Blogroll App</title>
</head>

<body>
    <div class="container">
        <h1>Backbone Tutorial Blogroll App</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input class="form-control author-input"></td>
                    <td><input class="form-control title-input"></td>
                    <td><input class="form-control url-input"></td>
                    <td><button class="btn btn-primary add-blog">Add</button></td>
                </tr>
            </thead>
            <tbody class="blogs-list"></tbody>
        </table>
    </div>
    <script type="text/template" class="blogs-list-template">
        <td><span class="author"><%= author %></span></td>
        <td><span class="title"><%= title %></span></td>
        <td><span class="url"><%= url %></span></td>
        <th><button class="btn btn-warning edit-blog">Edit</button>
            <button class="btn btn-danger delete-blog">Delete</button>
    </script>
    <script src="js/libraries/jquery-3.3.1.slim.min.js"></script>
    <script src="js/libraries/underscore.js"></script>
    <script src="js/libraries/backbone.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>